# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
*.tsbuildinfo
docs

# IDE and editor files
.idea
.vscode
*.swp
*.swo
.DS_Store

# Logs
*.log
pnpm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# Coverage
coverage

# Temporary files
*.tmp
*.temp
